<h2>Contract List</h2>
<mat-list>
  <mat-list-item *ngFor="let contract of contracts">
    
      <span class="badge">{{counter}}</span> Contractor {{contract.contractor1Id}} -- Contractor
      {{contract.contractor2Id}}
    
  </mat-list-item>
</mat-list>


<!-- <h2>Add Contract</h2>
<form class="contractor-form">
  <mat-form-field class="contractor-full-width">
  <mat-label for="contract-name">Contractor</mat-label>
  <mat-select id="contract-name" #contractName ></mat-select>
</mat-form-field>

<mat-form-field class="contractor-full-width">
  <mat-label for="contract-address">Contractor</mat-label>
  <mat-select id="contract-address" #contractAddress ></mat-select>
</mat-form-field>
</form> -->
