<div *ngIf="contractor">
  <h2>Contractor Details</h2>

  <form class="contractor-form">

    <mat-form-field class="contractor-full-width">
      <mat-label>Name</mat-label>
      <input matInput id="contractor-name" name="name" [(ngModel)]="contractor.name" readonly />
    </mat-form-field>

    <mat-form-field class="contractor-full-width">
      <mat-label>Address</mat-label>
      <input matInput id="contractor-address" name="address" [(ngModel)]="contractor.address" readonly />
    </mat-form-field>

    <mat-form-field class="contractor-full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput id="contractor-phoneNumber" name="phoneNumber" [(ngModel)]="contractor.phoneNumber" readonly />
    </mat-form-field>

    <mat-form-field class="contractor-full-width">
      <mat-label>Type</mat-label>
      <mat-select id="contractor-type" name="type" [(ngModel)]="contractor.contractorType" readonly ></mat-select>
    </mat-form-field>

    <mat-form-field class="contractor-full-width">
      <mat-label>Health Status</mat-label>
      <mat-select id="contractor-healthStatus" name="healthStatus" [(ngModel)]="contractor.healthStatus" readonly ></mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="goBack()">Go back</button>
  </form>

</div>